<!DOCTYPE html>
<html>

<head>
    <title>Confirm Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Home</a>
            <a href="{{ url_for('overall_financials') }}">Overall Finances</a>
            <a href="{{ url_for('rajiben') }}">Rajiben</a>
            <a href="{{ url_for('pratiba') }}">Pratiba Tai</a>
            <a href="{{ url_for('inventory') }}">Inventory</a>
            <a href="{{ url_for('logout') }}">Logout</a>

            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <div class="confirm-container">
            <h2>Current Order Details</h2>
            <div class="flex-container">
                <!-- Item Details Section -->
                <div class="box item-details">
                    <h3>Item Details</h3>
                    <p>Total Items: {{ items|length }}</p>
                    <ul id="item-list">
                        {% for item in items %}
                            <li>
                                Item {{ loop.index }}: {{ item.productType }}, Quantity: {{ item.quantity }},
                                Sheet Type: {{ item.sheetType }}
                            </li>
                        {% endfor %}
                    </ul>
                    <textarea id="order-notes" placeholder="Notes">{{ notes }}</textarea>
                </div>

                <!-- Cost Details Section -->
                <div class="box cost-details">
                    <h3>Cost Details</h3>
                    <p><i class="fa fa-inr" aria-hidden="true"></i> {{ total_cost }}</p>
                    <ul>
                        <li>Raw Material Cost: <i class="fa fa-inr"></i> {{ cost.raw_material_cost }}</li>
                        <li>Weaving Cost: <i class="fa fa-inr"></i> {{ cost.weaving_cost }}</li>
                        <li>Transport Cost:<i class="fa fa-inr"></i> {{ cost.transport_cost }}</li>
                        <li>Tailoring Cost: <i class="fa fa-inr"></i> {{ cost.tailoring_cost }}</li>
                        <li>Travel Cost: <i class="fa fa-inr"></i> {{ travels_cost }}</li>
                        <li>Total Cost: <i class="fa fa-inr"></i> {{ cost.total_cost }}</li>
                    </ul>
                </div>
            </div>

            <!-- Artisan Cost Details Section -->
            <div class="person-cost">
                <!-- Rajiben's Details -->
                <div class="box person-box">
                    <h4>Rajiben</h4>
                    <ul>
                        <li>Raw Material Cost: <i class="fa fa-inr"></i> {{ cost.raw_material_cost }}</li>
                        <li>Weaving Cost: <i class="fa fa-inr"></i> {{ cost.weaving_cost }}</li>
                        <li>Transport Cost:<i class="fa fa-inr"></i> {{ cost.transport_cost }}</li>
                        <li>Profit: <i class="fa fa-inr"></i> {{ rajiben_profit }}</li>
                        <li>Total Cost: <i class="fa fa-inr"></i> {{ rajiben_total }}</li>
                    </ul>
                </div>

                <!-- Pratiba Tai's Details -->
                <div class="box person-box">
                    <h4>Pratiba Tai</h4>
                    <ul>
                        <li>Tailoring Cost: <i class="fa fa-inr"></i> {{ cost.tailoring_cost }}</li>
                        <li>Profit: <i class="fa fa-inr"></i> {{ pratibatai_profit }}</li>
                        <li>Total Cost: <i class="fa fa-inr"></i> {{ pratibatai_total }}</li>
                    </ul>
                </div>
            </div>

            <!-- Footer Buttons Section -->
            <div class="footer-buttons">
                <div class="form-actions">
                    <a href="{{ url_for('dashboard') }}">
                        <button type="button" class="place-order-button">Back To Dashboard</button>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <script src="static/script.js"></script>
</body>

</html>
