<!DOCTYPE html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="#" class="active">Home</a>
            <a href="{{url_for('overall_financials')}}">Overall Finances</a>
            <a href="rajiben.html">Rajiben</a>
            <a href="pratiba.html">Pratiba Tai</a>
            <a href="inventory.html">Inventory</a>
            <a href="{{url_for('logout')}}">Logout</a>
            
            
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>
    <main>
        <h1>Orders Table</h1>
        <a href="{{url_for('new_order')}}"><button class="add-order">+ Add Order</button></a>
        <table class="dashboard-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order Date</th>
                    <th>Order Details</th>
                    <th>Payment Made By</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ loop.index }}</td> <!-- Display the order number -->
                    <td>{{ order.date.strftime('%Y-%m-%d') }}</td> <!-- Display order date -->
                    <td>
                        Order #{{ order.id }}: 
                        {% for product in order.products %}
                            <br>
                            Product: {{ product.product_type.product_name }}, Quantity: {{ product.quantity }}, Sheet type: {{product.sheet_type}} Total: <i class="fa fa-inr" aria-hidden="true"></i> {{product.total_price}}
                        {% endfor %}
                    </td> <!-- Display order details -->
                    <td>{{ order.payment_made_by }}</td> <!-- Display payment made by -->
                    <td>{{ order.status or "Pending" }}</td> <!-- Display order status (default to "Pending") -->
                    <td>
                        <a href="#"><button class="open-button">Open</button></a>
                        <form action="{{ url_for('delete_order', order_id=order.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script src="static/script.js"></script>
</body>

</html>