<!DOCTYPE html>
<html>

<head>
    <title>Edit Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Home</a>
            <a href="{{ url_for('overall_financials') }}">Overall Finances</a>
            <a href="{{ url_for('rajiben') }}">Rajiben</a>
            <a href="{{ url_for('pratiba') }}">Pratiba Tai</a>
            <a href="{{ url_for('inventory') }}">Inventory</a>
            <a href="{{ url_for('logout') }}">Logout</a>

            
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <div class="order-container">
            <h1>Edit Inventory</h1>
            <h2>Product</h2>
            <form id="order-form" action="{{ url_for('edit_inventory', inventory_id=inventory.id) }}" method="POST"> 
                <div class="form-group">
                    <label for="product-type">Product Type</label>
                    <select id="product-type" name="product_type">
                        <option value="">Choose product</option>
                        <option value="Tote Bag" {% if inventory.product_name == 'Tote Bag' %}selected{% endif %} >Tote Bag</option>
                        <option value="Sling Bag" {% if inventory.product_name == 'Sling Bag' %}selected{% endif %}>Sling Bag</option>
                        <option value="Pouch" {% if inventory.product_name == 'Pouch' %}selected{% endif %}>Pouch</option>
                        <option value="Laptop Sleeve" {% if inventory.product_name == 'Laptop Sleeve' %}selected{% endif %}>Laptop Sleeve</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="sheet-type">Sheet Type</label>
                    <select id="sheet-type" name="sheet_type">
                        <option value="">Choose sheet</option>
                        <option value="Azure Blue & Black">Azure Blue & Black</option>
                        <option value="Blue Gradient">Blue Gradient</option>
                        <option value="Emerald Green Gradient">Emerald Green Gradient</option>
                        <option value="Multicolored & White">Multicolored & White</option>
                        <option value="Dark Blue & White Stripes">Dark Blue & White Stripes</option>
                        <option value="Black & White Stripes">Black & White Stripes</option>
                        <option value="Starry Night (Black & White)">Starry Night (Black & White)</option>
                        <option value="Rainbow Collection">Rainbow Collection</option>
                        <option value="Black, Gold & White">Black, Gold & White</option>
                        <option value="Blue, Silver & White">Blue, Silver & White</option>
                        <option value="Rainbow Stripes">Rainbow Stripes</option>
                        <option value="Blue & White Wave Dashes">Blue & White Wave Dashes</option>
                        <option value="Other (please specify)">Other (please specify)</option>
                    </select>
                    <input type="text" id="additional-option" name="additional_option" placeholder="Type additional option here" style="display:none;"/>
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity_in_stock" min="1" value="{{ inventory.quantity_in_stock }}" required>
                </div>
                
                <div class="form-group">
                    <label for="date-received">Date Received</label>
                    <input type="date" id="date-received" name="date_received" value="{{ inventory.date_received.strftime('%Y-%m-%d') }}" required>
                </div>
                
                <div class="form-group">
                    <label for="current-keeper">Current Holder</label>
                    <input type="text" id="current-keeper" name="current_keeper" value="{{ inventory.current_keeper }}" required>
                </div>
                
                <div class="form-actions">            
                    <a href="{{ url_for('cancel_inventory') }}"><button type="button" class="cancel">Cancel</button></a>
                    <button type="submit" class="confirm-order">Update Inventory</button>
                </div>
            </form>      
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const sheetTypeSelect = document.getElementById('sheet-type');
            const additionalOptionInput = document.getElementById('additional-option');
    
            sheetTypeSelect.addEventListener('change', function() {
                if (this.value === 'Other (please specify)') {
                    additionalOptionInput.style.display = 'block';
                } else {
                    additionalOptionInput.style.display = 'none';
                    additionalOptionInput.value = ''; // Clear the input if a different option is selected
                }
            });
        });
    </script>
</body>

</html>
