<!DOCTYPE html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <form action="{{url_for('login')}}" method="POST">
        <div class="login">
            <div class="login-container">
                <h1>Login</h1>
                <label>Email</label>
                <input type="text" id="email" name="log_email" required>
                <label>Password</label>
                <input type="password" id="email" name="password" required>
                <button type="sumbit">Login</button>
                <a href="#">Forgot password?</a>
            </div>
        </div>
    </form>
    <script src="static/script.js"></script>
</body>