<!DOCTYPE html>
<html>

<head>
    <title>New Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Home</a>
            <a href="{{ url_for('overall_financials') }}">Overall Finances</a>
            <a href="{{ url_for('rajiben') }}">Rajiben</a>
            <a href="{{ url_for('pratiba') }}">Pratiba Tai</a>
            <a href="{{ url_for('inventory') }}">Inventory</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <div class="order-container">
            <h1>New Inventory</h1>
            <h2>Product</h2>
            <form id="order-form" action="{{url_for('new_inventory')}}" method="POST"> 
                <div class="form-group">
                    <label for="product-type">Product Type</label>
                    <select id="product-type" name="product_type">
                        <option value="">Choose product</option>
                        <option value="Tote Bag">Tote Bag</option>
                        <option value="Sling Bag">Sling Bag</option>
                        <option value="Pouch">Pouch</option>
                        <option value="Laptop Sleeve">Laptop Sleeve</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="sheet-type">Sheet Type</label>
                    <select id="sheet-type" name="sheet_type">
                        <option value="">Choose sheet</option>
                        <option value="sheet1">Sheet 1</option>
                        <option value="sheet2">Sheet 2</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity_in_stock" min="1" required>
                </div>
                
                <div class="form-group">
                    <label for="date-received">Date Received</label>
                    <input type="date" id="date-received" name="date_received" required>
                </div>
                
                <div class="form-group">
                    <label for="current-keeper">Current Holder</label>
                    <input type="text" id="current-keeper" name="current_keeper" required>
                </div>
                
                <div class="form-actions">            
                    <a href="{{url_for('cancel_inventory')}}"><button type="button" class="cancel">Cancel</button></a>
                    <button type="submit" class="confirm-order">Add Inventory</button>
                </div>
            </form>      
        </div>
    </main>
    <script src="static/script.js"></script>
</body>

</html>
