<!DOCTYPE html>
<html>

<head>
    <title>New Order</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="dashboard.html">Home</a>
            <a href="overall_financials.html">Overall Finances</a>
            <a href="rajiben.html">Rajiben</a>
            <a href="pratiba.html">Pratiba Tai</a>
            <a href="inventory.html">Inventory</a>
            <a href="{{url_for('logout')}}">Logout</a>
            
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <div class="order-container">
            <h1>New Order</h1>
            <h2>Items</h2>
            <form id="order-form" action="{{url_for('new_order')}}" method="POST"> 
                <div class="form-group">
                    <label for="product-type">Product Type</label>
                    <select id="product-type" name="product_type">
                        <option value="">Choose product</option>
                        <option value="Tote Bag">Tote Bag</option>
                        <option value="Sling Bag">Sling Bag</option>
                        <option value="Pouch">Pouch</option>
                        <option value="Laptop Sleeve">Laptop Sleeve</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" value="0">
                </div>

                <div class="form-group">
                    <label for="sheet-type">Sheet Type</label>
                    <select id="sheet-type" name="sheet_type">
                        <option value="">Choose sheet</option>
                        <option value="sheet1">Sheet 1</option>
                        <option value="sheet2">Sheet 2</option>
                    </select>
                </div>
                <button type="button" class="add-items" onclick="addItems()">+ Add Items</button>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea id="notes" name="notes" placeholder="Value"></textarea>
                </div>
                <div class="payment-made-by">
                    <label for="payment-made-by">Payment Made By:</label>
                    <select id="payment-made-by" name="payment_made_by" required>
                        <option value="" disabled selected>Select</option>
                        <option value="Garv">Garv</option>
                        <option value="Bhavya">Bhavya</option>
                        <option value="Atharv">Atharv</option>
                    </select>
                </div>

                <input type="hidden" id="items-json" name="items_json">

                <div class="form-actions">
                    <a href="{{url_for('cancel_order')}}"><button type="button" class="cancel" >Cancel</button></a>
                    <button type="submit" class="confirm-order">Confirm Order</button>
                </div>
            </form>
        </div>
    </main>

    <script>
        let items = [];

        function addItems() {
            const productType = document.getElementById('product-type').value;
            const quantity = document.getElementById('quantity').value;
            const sheetType = document.getElementById('sheet-type').value;

            if (productType && quantity > 0 && sheetType) {
                const item = {
                    productType,
                    quantity,
                    sheetType
                };

                items.push(item);
                console.log('Items:', items);
                document.getElementById('product-type').value = '';
                document.getElementById('quantity').value = 0;
                document.getElementById('sheet-type').value = '';

            } else {
                alert('Please fill in all fields before adding an item.');
            }
        };

        function prepareItems() {
            // Convert items array to JSON and store it in the hidden input field
            document.getElementById('items-json').value = JSON.stringify(items);
        };

        document.getElementById('order-form').onsubmit = function() {
            prepareItems();
        };
        
        
    </script>
    <script src="static/script.js"></script>
</body>

</html>