<!DOCTYPE html>

<head>
    <title>Overall Finanicals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Home</a>
            <a href="{{ url_for('overall_financials') }}" class="active">Overall Finances</a>
            <a href="{{ url_for('rajiben') }}">Rajiben</a>
            <a href="{{ url_for('pratiba') }}">Pratiba Tai</a>
            <a href="{{ url_for('inventory') }}">Inventory</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <h1>Overall Financials Table</h1>
        <table class="overall-financials-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order Date</th>
                    <th>Order Details</th>
                    <th>Cost Details</th>
                    <th>Total Cost</th>
                    <th>Rajiben <br>
                        Amt Paid
                    </th>
                    <th>Pratiba Tai <br>
                        Amt Paid
                    </th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ order.date.strftime('%Y-%m-%d') }}</td>
                    <td>
                        Order #{{ order.id }}:
                        {% for product in order.products %}
                            <br><strong>Product:</strong> {{ product.product_type.product_name }},
                            <strong>Quantity:</strong> {{ product.quantity }},
                            <strong>Sheet Type:</strong> {{ product.sheet_type }} <br>
                            <strong>Total:</strong> ₹{{ product.total_price }}
                        {% endfor %}
                    </td>
                    <td>
                        <strong>Raw Material:</strong> ₹{{ order.cost.raw_material_cost }} <br>
                        <strong>Weaving:</strong> ₹{{ order.cost.weaving_cost }} <br>
                        <strong>Transport:</strong> ₹{{ order.cost.transport_cost }} <br>
                        <strong>Tailoring:</strong> ₹{{ order.cost.tailoring_cost }} <br>
                        <strong>Travel:</strong> ₹{{ order.cost.travels }}
                    </td>
                    <td>₹{{ order.cost.total_cost }}</td>
                    <td>₹{{ order.cost.rajiben.cumulative_cost }}</td>
                    <td>₹{{ order.cost.pratibatai.cumulative_cost }}</td>
                    <td>
                        <a href="{{ url_for('edit_financials', order_id=order.id) }}"><button class="edit-button">Edit</button></a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>