<!DOCTYPE html>

<head>
    <title>Overall Finanicals</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="dashboard.html">Home</a>
            <a href="#" class="active">Overall Finances</a>
            <a href="rajiben.html">Rajiben</a>
            <a href="pratiba.html">Pratiba Tai</a>
            <a href="inventory.html">Inventory</a>
            <a href="{{url_for('logout')}}">Logout</a>
            
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <h1>Overall Financials Table</h1>
        <table class="overall-financials-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order Date</th>
                    <th>Order Details</th>
                    <th>Cost Details</th>
                    <th>Total Cost</th>
                    <th>Rajiben Amt Paid</th>
                    <th>Pratiba Tai Amt Paid</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2024-07-29</td>
                    <td>Order #1234: 10 Tote Bags</td>
                    <td>₹100</td>
                    <td>₹150</td>
                    <td>₹50</td>
                    <td>₹50</td>
                    <td><button class="edit-button">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script src="static/script.js"></script>
</body>