<!DOCTYPE html>

<head>
    <title>Pratiba Tai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Home</a>
            <a href="{{ url_for('overall_financials') }}">Overall Finances</a>
            <a href="{{ url_for('rajiben') }}">Rajiben</a>
            <a href="{{ url_for('pratiba') }}" class="active">Pratiba Tai</a>
            <a href="{{ url_for('inventory') }}">Inventory</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <h1>Pratiba Table</h1>
        <table class="pratiba-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order Date</th>
                    <th>Order Details</th>
                    <th>Cost Details</th>
                    <th>Total Cost</th>
                    <th>Profit</th>
                    <th>Total Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for order in pratibatai_orders %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ order.cost.order.date.strftime('%Y-%m-%d') }}</td>
                    <td>
                        {% for product in order.cost.order.products %}
                            <strong>Product:</strong> {{ product.product_type.product_name }},
                            <strong>Quantity:</strong> {{ product.quantity }},
                            <strong>Sheet Type:</strong> {{ product.sheet_type }} <br>
                            <strong>Total:</strong> ₹{{ product.total_price }}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        <strong>Tailoring:</strong> ₹{{ order.cost.tailoring_cost }} <br>
                    </td>
                    <td>{{ order.cost.tailoring_cost }}</td>
                    <td>{{ order.cost.pratibatai.cumulative_profit }}</td>
                    <td>{{ order.cost.pratibatai.cumulative_cost }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">No data available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script src="static/script.js"></script>
</body>