<!DOCTYPE html>

<head>
    <title>Pratiba</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="dashboard.html">Home</a>
            <a href="overall_financials.html">Overall Finances</a>
            <a href="rajiben.html">Rajiben</a>
            <a href="#" class="active">Pratiba Tai</a>
            <a href="index.html">Logout</a>
            <div class="nav-search">
                <input type="text" placeholder="Search">
            </div>
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <h1>Pratiba Table</h1>
        <table class="pratiba-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order Date</th>
                    <th>Order Details</th>
                    <th>Cost Details</th>
                    <th>Total Cost</th>
                    <th>Profit</th>
                    <th>Total Paid</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script src="script.js"></script>
</body>