<!DOCTYPE html>

<head>
    <title>Pratiba</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Home</a>
            <a href="{{ url_for('overall_financials') }}">Overall Finances</a>
            <a href="{{ url_for('rajiben') }}">Rajiben</a>
            <a href="{{ url_for('pratiba') }}" class="active">Pratiba Tai</a>
            <a href="{{ url_for('inventory') }}">Inventory</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>

    <main>
        <h1>Pratiba Table</h1>
        <table class="pratiba-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order Date</th>
                    <th>Order Details</th>
                    <th>Cost Details</th>
                    <th>Total Cost</th>
                    <th>Profit</th>
                    <th>Total Paid</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script src="static/script.js"></script>
</body>